	.block {
		background-repeat: no-repeat;
		background-color: #AAAAAA;
		border-left: 1px solid #AAAAAA;
		clear: both;
		float: left;
		border: 1px solid #AAAAAA;
		margin-left: 10px;
		margin-right: 5px;
		box-shadow: 5px 5px 5px #888888;
		width: auto;
	}
	.blockTitle {
		display: block;
	}
	.dummyBlock {
		background-image: none;
		background-color: transparent;
		border: none;
		box-shadow: none !important;
	}
	.floatingBlock {
		border: 3px solid #555555 !important;
		box-shadow: 5px 5px 10px #AAAAAA !important;
		border-radius: 10px !important;
	}
	.floatingBlock canvas {
		border-radius: 4px !important;
	}
	.level1 {
		margin-top: 7px;
		border-radius: 10px;
	}
	.level2, .level3 {
		border-top-width: 0px;
		margin-bottom: 0px;
		margin-top: 0px;
		border-radius: 0px;
	}
	.level2:first-child, .level3:first-child {
		border-top-width: 1px;
	}
	.level2:hover, .level3:hover {
		box-shadow: 7px 5px 5px #4444AA;
	}
	.function {
		border-top-width: 2px !important;
		border-radius: 10px !important;
	}
	div.function:before {
		border-bottom-left-radius: 10px !important;
		border-bottom-right-radius: 10px !important;
	}
	div.function:after {
		border-top-left-radius: 10px !important;
		border-top-right-radius: 10px !important;
	}
	#console-blocks>div:first-child {
		margin-top: 5px;
		border-top-left-radius: 10px !important;
		border-top-right-radius: 10px !important;
	}
	#console-blocks>div:last-child {
		margin-bottom: 10px;
		border-bottom-left-radius: 10px !important;
		border-bottom-right-radius: 10px !important;
	}
	#console-blocks span, #dialog-blocks span {
		cursor: default;
	}
	#console-blocks.breakpointHandler span {
		cursor: crosshair !important;
	}
	#dialog .block {
		border: 1px solid #AAAAAA;
		margin: 2px;
		float: left;
		clear: none;
		box-shadow: 4px 3px 10px #888888;
		border-radius: 5px;
		width: initial;
	}
	#dialog-blocks div:hover {
		box-shadow: 0px 0px 20px #000000;
	}
