	.ace-chrome .ace_marker-layer .ace_stack {
		/* Overwrite Ace's definition */
		background: rgb(255, 100, 100) !important;
	}
	.button {
		cursor: pointer;
	}
	.button canvas:hover {
		box-shadow: 0px 0px 7px #000000;
		border-radius: 10px;
	}
	.button canvas:active {
		box-shadow: 0px 0px 4px #000000;
		border-radius: 10px;
	}
	.column {
		height: 100%;
	}
	.dialog-debug-analyzer-breakpoint-block {
		margin-top:5px;
	}
	.dialog-debug-analyzer-breakpoint-trash, .dialog-debug-analyzer-watch-trash {
		float: right;
		font-size: smaller;
	}
	.helpNote {
		color: #AAAAAA;
		font-style: italic;
	}
	.link {
		cursor: pointer;
		text-decoration: underline;
		/*font-weight: normal;*/
		color: blue;
	}
	.link:hover {
		text-decoration: none;
		font-weight: bold;
	}
	.maximized #console-buttons {
		border-bottom-left-radius: 10px !important;
	}
	.msgBox {
		position: relative;
		margin: auto;
		top: 25%;
		width: 50%;
		height: 50%;
		border: 10px solid black;
		background-color: #FFFFFF;
		color: #000000;
		padding: 10px 10px 10px 10px;
		white-space: pre-line;
		font-family: "Courier New", Courier, monospace;
	}
	.msgBox .msgBox-tabs {
		clear: both;
		text-align: right;
	}
	.msgBox .msgBox-tabs a {
		margin: 2px 0px 0px 0px;
		padding: 2px 3px 0px 3px;
		background-color: #456789;
		color: #FFFFFF;
		text-align: center;
		text-decoration: none;
		font-weight: bold;
		border: 2px solid #123456;
	}
	.msgBox .msgBox-tabs a:hover {
		margin: 0px 0px 0px 0px;
		background-color: #789ABC;
		color: inherit;
		font-weight: bold;
	}
	.msgBoxWrapper {
		position: absolute;
		top: 0px;
		left: 0px;
		width: inherit;
		height: inherit;
		z-index: 9999; /* jscolor uses z-index 10000 */
		border: 0px solid black;
		background-color: rgba(0,0,0,0.4);
	}
	.program {
		width: inherit;
		height: 349px; // This will be modified via javascript
		background-color: #FFFFFF;
		color: inherit;
		overflow-x: hidden;
		border: 1px solid #666666;
		border-top-width: 0px;
		border-bottom-width: 0px;
	}
	.separator {
		border-bottom: 1px solid #FFFFFF;
		clear: both;
		height: 0px;
	}
	.tab {
		float: right;
		width: 60px;
		height: 18px;
		margin: 2px 0px 0px 0px;
		padding: 2px 3px 0px 3px;
		border: 1px solid #FFFFFF;
		background-color: #456789;
		color: #FFFFFF;
		text-align: center;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		text-decoration: none;
		cursor: pointer;
	}
	.tab:hover {
		height: 20px;
		margin: 0px 0px 0px 0px;
		background-color: #789ABC;
		color: #FFFFFF;
		font-weight: bold;
	}
	.tab-active, .tab-active:hover {
		height: 20px;
		margin: 0px 0px 0px 0px;
		background-color: #FFFFFF;
		color: #123456;
		font-weight: bold;
	}
	.tab-active a {
		background-color: inherit;
		color: #123456;
	}
	span.tab-title {
		float: left;
		color: #FFFFFF;
		font-weight: bold;
		padding: 5px 5px 0px 10px;
	}
	#body {
		width: inherit;
		height: auto;
		overflow: hidden;
	}
	#console {
		width: auto;
		overflow: hidden;
	}
	#console .tab {
		float: left;
	}
	#console-buttons, #dialog-debug-command {
		padding-top: 3px;
		display: table;
		background-color: #AAAAAA;
		color: inherit;
		border: 1px solid #666666;
		width: 100%;
		height: 28px;
	}
	#console-buttons {
		border-bottom-right-radius: 10px;
	}
	#console-buttons div {
		display: table-cell;
		text-align: center;
	}
	#console-buttons div:first-child, #console-buttons div:last-child  {
		width: 75px;
	}
	#console-buttons div:not(:first-child):not(:last-child)  {
		width: 150px;
	}
	#console-blocks-tip {
		border-radius: 0px !important;
		background-color: transparent !important;
	}
	#console-tabs {
		margin: 0px 3px 0px 1px;
		height: 24px;
	}
	#console-tabdiv {
		clear: both;
	}
	#console-tabdiv .program {
		border-top-right-radius: 10px;
	}
	#console-write {
		position: relative;
	}
	#console-write.breakpointHandler div {
		cursor: crosshair !important;
	}
	#dialog {
		width: 250px;
		float: left;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	#dialog>div {
		width: inherit;
	}
	#dialog .program {
		background-color: #E9E9E9;
		border-top-left-radius: 10px;
	}
	#dialog-debug-analyzer-watches {
		border-top:1px solid #000000;
	}
	#dialog-debug-command {
		clear: both;
		text-align: left;
		vertical-align: top;
		border-bottom-left-radius: 10px;
	}
	#dialog-debug-command-form {
		visibility: hidden;
	}
	#dialog-debug-command-input {
		height: 17px;
		width: 220px;
		float: left;
	}
	#dialog-debug-layers, #dialog-debug-analyzer, #dialog-debug-execute {
		width: auto;
		overflow-x: hidden;
	}
	#dialog-debug-layers-help, #dialog-debug-analyzer-help, #dialog-debug-execute-help {
		float: right;
		font-weight: bold;
		width: 10px;
		margin: 0px 0px 0px 0px;
		cursor: help;
	}
	#dialog-debug-layers-title {
		position: relative;
	}
	#dialog-debug-layers-title, #dialog-debug-analyzer-title, #dialog-debug-execute-title  {
		padding: 3px 0px 3px 0px;
		border-bottom: 1px solid #000000;
		text-align: center;
		font-weight: bold;
		background-color: #CCCCCC;
		color: inherit;
	}
	#dialog-setup {
		text-align: center;
		position: relative;
	}
	#dialog-setup input[type="number"] {
		width: 40px;
	}
	#dialog-setup-author {
		position: absolute;
		bottom: 0px;
		width: 100%;
		text-align: center;
	}
	#dialog-tabs {
		height: 23px;
		text-align: center;
	}
	#dialog-tabs div {
		width: auto;
	}
	#dialog-tabs-setup, #console-tabs-resize {
		width: auto;
		height: 15px;
		margin-top: 5px;
	}
	#dialog-window .dialog-window {
		background-color: #AAAAAA;
		color: inherit;
		height: inherit;
	}
	#eseecode {
		width: 100%;
		min-width: 1020px; /* iPad / Android default layout viewport */
		height: 100%;
		min-height: 500px;
		color: inherit;
		background-color: #123456;
		/*border-radius: 30px;*/
		position: relative;
	}
	#filemenu {
		width: auto;
	}
	#filemenu input:hover {
		box-shadow: 0px 0px 5px #FFFFFF;
	}
	#fullscreen-button {
		position: absolute;
		top: 10px;
		right: 10px;
	}
	#footer {
		position: absolute;
		bottom: 0px;
		height: 18px;
	}
	#header {
		height: 58px;
	}
	#header, #footer {
		background-color: transparent;
		color: #FFFFFF;
		position: relative;
		text-align: left;
		font-size: 10px;
		width: inherit;
	}
	#header a {
		background-color: inherit;
		color: #FFFFFF;
		font-weight: bold;
	}
	#header a:hover {
		box-shadow: 0px 0px 5px #FFFFFF;
		background-color: inherit;
		color: #DDEECC;
		border-radius: 5px;
	}
	#header div {
		display: inline;
		text-align: left;
	}
	#header>h1 {
		width: 100%;
		text-align: center;
	}
	#title {
	}
	#title-logo {
		width: 150px;
		margin: 10px 0px 10px 0px;
	}
	#whiteboard-wrapper {
		float: right;
	}
	#whiteboard-wrapper>div {
		clear: both;
	}
	#whiteboard {
		width: 400px;
		height: 400px;
		background-color: #FFFFFF;
		color: inherit;
		border-radius: 10px;
		margin-left: 3px;
	}
	#whiteboard canvas {
		border-radius: 10px;
	}
	#whiteboard div {
		position: absolute;
		border-radius: 10px;
	}
	#whiteboard-tabs {
		visibility: hidden;
	}