	.ace-chrome .ace_marker-layer .ace_stack {
		/* Overwrite Ace's definition */
		background: rgb(255, 100, 100) !important;
	}
	.ace-breakpoint { 
    	box-shadow: 0px 0px 1px 1px red inset; 
	}
	.button {
		cursor: pointer;
	}
	.button canvas:hover {
		box-shadow: 0px 0px 7px #000000;
	}
	.button canvas:active {
		box-shadow: 0px 0px 4px #000000;
	}
	.buttonAdd {
		display: inline-block;
		width: 15px;
		height: 15px;
		margin: 0px 2px 0px 2px;
		text-align: center;
		vertical-align: middle;
		background-color: olive;
		font-weight: bolder;
	}
	.buttonRemove {
		display: inline-block;
		width: 15px;
		height: 15px;
		margin: 0px 2px 0px 2px;
		text-align: center;
		vertical-align: middle;
		background-color: #D00000;
		font-weight: bolder;
	}
	.column {
		height: 100%;
	}
	.dialog-debug-analyzer-breakpoint-block {
		margin-top:5px;
	}
	.dialog-debug-analyzer-breakpoint-trash, .dialog-debug-analyzer-watch-trash {
		float: right;
		font-size: smaller;
	}
	.dialog-help {
		float: right;
		font-weight: bold;
		width: 10px;
		margin: 0px 0px 0px 0px;
		cursor: help;
	}
	.dialog-debug-layers-position {
		color: #AAAAAA;
		font-style: italic;
	}
	.dialog-title  {
		padding: 3px 0px 3px 0px;
		border-bottom: 1px solid #000000;
		text-align: center;
		font-weight: bold;
		background-color: #AAAAAA;
		color: inherit;
	}
	.helpNote {
		color: #6A6A6A;
		font-style: italic;
	}
	.hide {
		display: none;
	}
	.link {
		cursor: pointer;
		text-decoration: underline;
		/*font-weight: normal;*/
		color: #000000;
	}
	.link:hover {
		text-decoration: none;
		font-weight: bold;
	}
	.maximized #console-buttons {
	}
	.msgBox {
		position: relative;
		margin: auto;
		top: 25%;
		width: 50%;
		min-height: 100px;
		border: 10px solid black;
		background-color: #FFFFFF;
		color: #000000;
		padding: 10px 10px 10px 10px;
		white-space: pre-line;
		font-family: "Courier New", Courier, monospace;
	}
	.msgBox-tab {
		position: relative;
	}
	.msgBox .msgBox-tabs {
		clear: both;
		text-align: left;
		margin-bottom: 5px;
	}
	.msgBox .msgBox-tabs a {
		margin: 2px 0px 0px 0px;
		padding: 2px 3px 0px 3px;
		background-color: #999999;
		color: #FFFFFF;
		text-align: center;
		text-decoration: none;
		font-weight: bold;
		border: 2px solid #CCCCCC;
	}
	.msgBox .msgBox-tabs a.outsider {
		position: absolute; 
		bottom: 5px;
		right: 5px;
		background-color: #89900A;
		float: right;
	}
	.msgBox .msgBox-tabs a.headerButton {
		display: block;
	}
	.msgBox .msgBox-tabs a:hover {
		margin: 2px 0px 0px 0px;
		background-color: #666666;
		color: inherit;
		font-weight: bold;
	}
	.msgBoxWrapper {
		position: absolute;
		top: 0px;
		left: 0px;
		width: inherit;
		height: inherit;
		z-index: 9999; /* jscolor uses z-index 10000 */
		border: 0px solid black;
		background-color: rgba(0,0,0,0.4);
	}
	.program {
		position: relative;
		width: inherit;
		height: 349px; /* This will be modified via javascript */
		background-color: #FFFFFF;
		color: inherit;
		overflow-x: hidden;
	}
	.separator {
		border-bottom: 1px solid #FFFFFF;
		clear: both;
		height: 0px;
	}
	.tab {
		float: right;
		width: 60px;
		height: 18px;
		margin: 2px 0px 0px 0px;
		padding: 2px 3px 0px 3px;
		border: 1px solid #FFFFFF;
		background-color: #999999;
		color: #FFFFFF;
		text-align: center;
		text-decoration: none;
		cursor: pointer;
	}
	.tab:hover {
		height: 20px;
		margin: 0px 0px 0px 0px;
		background-color: #666666;
		color: #FFFFFF;
		font-weight: bold;
	}
	.tab-active, .tab-active:hover {
		height: 20px;
		margin: 0px 0px 0px 0px;
		background-color: #EEEEEE;
		color: #333333;
		font-weight: bold;
	}
	.tab-active a {
		background-color: inherit;
		color: #CCCCCC;
	}
	.tab-button {
		height: 20px;
		display: inline-block;
		padding: 0px 3px 0px 3px;
		border: 1px solid #FFFFFF;
		background-color: #999999;
		color: #333333;
		text-align: center;
		text-decoration: none;
		font-weight: bold;
		cursor: default;
	}
	.tab-button:hover {
		background-color: #666666;
		color: #000000;
	}
	.tab-button-disabled {
		height: 20px;
		display: inline-block;
		padding: 0px 3px 0px 3px;
		border: 1px solid #FFFFFF;
		background-color: #BBBBBB;
		color: #FFFFFF;
		text-align: center;
		text-decoration: none;
		cursor: default;
	}
	.tab-buttons {
		text-align: center;
		padding: 0px 20px 0px 20px;
	}
	.text-disabled, .text-disabled input {
		color: #AAAAAA;
	}
	.text-disabled input:hover {
		box-shadow: none;
	}
	span.tab-title {
		float: left;
		color: #666666;
		font-weight: bold;
		padding: 5px 5px 0px 10px;
	}
	#body {
		width: inherit;
		height: auto;
		overflow: hidden;
	}
	#console {
		width: auto;
		overflow: hidden;
	}
	#console .tab {
		float: left;
	}
	#console-buttons, #dialog-debug-command {
		padding-top: 3px;
		display: table;
		background-color: #B0B0B0;
		color: inherit;
		width: 100%;
		height: 28px;
	}
	#console-buttons {
	}
	#console-buttons div {
		display: table-cell;
		text-align: center;
	}
	#console-buttons div:first-child, #console-buttons div:last-child  {
		width: 75px;
	}
	#console-buttons div:not(:first-child):not(:last-child)  {
		width: 150px;
	}
	#console-blocks-tip {
		background-color: transparent !important;
	}
	#console-tabs {
		margin: 0px 3px 0px 1px;
		height: 24px;
	}
	#console-tabdiv {
		clear: both;
	}
	#console-tabdiv .program {
	}
	#console-write {
		position: relative;
	}
	#console-write.breakpointHandler div {
		cursor: crosshair !important;
	}
	#dialog {
		width: 250px;
		float: left;
	}
	#dialog>div {
		width: inherit;
	}
	#dialog .program {
		background-color: #E9E9E9;
	}
	#dialog-debug {
		position: relative;
	}
	#dialog-debug-analyzer-toolbar {
		text-align: center;
	}
	#dialog-debug-analyzer-watches {
		border-top:1px solid #000000;
	}
	#dialog-debug-command {
		clear: both;
		text-align: left;
		vertical-align: top;
	}
	#dialog-debug-command-form {
		display: none;
	}
	#dialog-debug-command-input {
		height: 17px;
		width: 220px;
		float: left;
	}
	#dialog-debug-execute-step-buttons {
		width: 100%;
		text-align: center;
		position: absolute;
		margin-top: 5px;
	}
	#dialog-debug-layers, #dialog-debug-analyzer, #dialog-debug-execute-stats {
		width: auto;
		overflow-x: hidden;
	}
	#dialog-debug-layers-title {
		position: relative;
	}
	#dialog-io textarea {
		width: 230px;
		min-height: 150px;
		resize: vertical;
	}
	#dialog-debug input[type="number"] {
		width: 40px;
	}
	#dialog-setup {
		text-align: center;
		position: relative;
	}
	#dialog-setup input[type="number"] {
		width: 40px;
	}
	#dialog-setup-author {
		position: absolute;
		bottom: 0px;
		width: 100%;
		text-align: center;
	}
	#dialog-tabs {
		height: 23px;
		text-align: center;
	}
	#dialog-tabs div {
		width: auto;
	}
	#dialog-tabs-setup, #console-tabs-resize {
		width: auto;
		height: 15px;
		margin-top: 5px;
	}
	#dialog-window .dialog-window {
		background-color: #AAAAAA;
		color: inherit;
		height: inherit;
	}
	#eseecode {
		width: 100%;
		min-width: 1020px; /* iPad / Android default layout viewport */
		height: 100%;
		min-height: 500px;
		color: inherit;
		background-color: #C0C0C0;
		position: relative;
	}
	#filemenu {
		width: auto;
	}
	#filemenu input:hover {
		box-shadow: 0px 0px 5px #FFFFFF;
	}
	#fullscreen-button {
		position: absolute;
		top: 10px;
		right: 10px;
	}
	#footer {
		position: absolute;
		bottom: 0px;
		height: 18px;
	}
	#header {
		height: 58px;
	}
	#header, #footer {
		background-color: transparent;
		color: #FFFFFF;
		position: relative;
		text-align: left;
		font-size: 10px;
		width: inherit;
	}
	#header a {
		background-color: inherit;
		color: #FFFFFF;
		font-weight: bold;
	}
	#header a:hover {
		box-shadow: 0px 0px 5px #FFFFFF;
		background-color: inherit;
		color: #DDEECC;
	}
	#header div {
		display: inline;
		text-align: left;
	}
	#header>h1 {
		width: 100%;
		text-align: center;
	}
	#setup-downloadLayers-title {
		font-weight: bold;
		text-decoration: underline;
	}
	#title {
	}
	#title-logo {
		width: 150px;
		margin: 10px 0px 0px 0px;
	}
	#whiteboard-wrapper {
		float: right;
	}
	#whiteboard-wrapper>div {
		clear: both;
	}
	#whiteboard {
		width: 400px;
		height: 400px;
		background-color: #FFFFFF;
		color: inherit;
		margin-left: 3px;
	}
	#whiteboard canvas {
	}
	#whiteboard div {
		position: absolute;
	}