:root {

	--bg-color: #000000;
	--text-color: #298d29;
	--msgbox-bg-color: #000000;
	--msgbox-color: #298d29;
	--msgbox-shadow-color: #000000;
	--tabs-bg-color: #000000;
	--border-color: #298d29;
	--hover-color: #298d29;
	--disabled-bg-color: #000000;
	--disabled-border-color: #298d29;
	--outsidier-color: #298d29;
	--block-border-color: #298d29;
	--block-shadow-color: #298d29;
	--block-shadow-hover-color: #298d29;

	--bigger-space: 20px;
	--big-space: 10px;
	--default-space: 5px;
	--small-space: 3px;
	
	--msgbox-padding-all: var(--big-space);
	--msgbox-border-all:  var(--default-space);
	
}

button,
input,
select,
textarea {
	background-color: var(--bg-color) !important;
	border-color: var(--text-color);
	color: var(--text-color) !important;
}

#toolbox-content,
#view-content,
#toolbox-blocks {
	background-image: unset !important;
}
.panel-column {
	color: var(--text-color);
}
.tab {
	color: var(--bg-color);
}
.tab.active {
	color: var(--text-color);
}
#toolbox-tabs-setup.tab.active::before {
	text-shadow: 0 0 0 var(--text-color);
}
.toolbox-title,
#toolbox-io-output {
	background-color: var(--bg-color) !important;
	border-color: var(--text-color);
	color: var(--text-color) !important;
}
#view-buttons,
#toolbox-debug-command {
	background-color: var(--bg-color);
	background-image: none;
}
.tab-button,
.tab-button:hover {
	color: var(--msgbox-bg-color);
}
#whiteboard {
	background-color: unset !important;
}
#canvas-wrapper-grid {
	filter: sepia(1);
}
.link {
	color: var(--text-color);
}
.msgBox {
	color: var(--text-color);
}
